<!DOCTYPE html>
<html lang="en">
<head>
<title>Index</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Course Project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
<link href="plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="styles/news_styles.css">
<link rel="stylesheet" type="text/css" href="styles/news_responsive.css">
</head>
<body>

<div class="super_container">

	<!-- Header -->

	<header class="header d-flex flex-row">
		<div class="header_content d-flex flex-row align-items-center">
			<!-- Logo -->
			<div class="logo_container">
				<div class="logo">
					<img src="images/logo_1.jpeg" alt="" width="200" height="100">
					<span></span>
				</div>
			</div>

			<!-- Main Navigation -->
			<nav class="main_nav_container">
				<div class="main_nav">
					<ul class="main_nav_list">
						<li class="main_nav_item"><a href="index.html">Index</a></li>
						<li class="main_nav_item"><a href="#">Sobre Nosotros</a></li>
						<li class="main_nav_item"><a href="courses.html">Cursos</a></li>
						<li class="main_nav_item"><a href="login.html">Login</a></li>
					</ul>
				</div>
			</nav>
		</div>
		<div class="header_side d-flex flex-row justify-content-center align-items-center">
			<img src="/static/images/logoCS.png">
			<span></span>
		</div>

		<!-- Hamburger -->
		<div class="hamburger_container">
			<i class="fas fa-bars trans_200"></i>
		</div>

	</header>

	<!-- Menu -->
	<div class="menu_container menu_mm">

		<!-- Menu Close Button -->
		<div class="menu_close_container">
			<div class="menu_close"></div>
		</div>

		<!-- Menu Items -->
		<div class="menu_inner menu_mm">
			<div class="menu menu_mm">
				<ul class="menu_list menu_mm">
					<li class="menu_item menu_mm"><a href="index.html">Index</a></li>
					<li class="menu_item menu_mm"><a href="#">Sobre Nosotros</a></li>
					<li class="menu_item menu_mm"><a href="courses.html">Cursos</a></li>
					<li class="menu_item menu_mm"><a href="elements.html">Login</a></li>
				</ul>

				<div class="menu_copyright menu_mm"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
			</div>

		</div>

	</div>

	<!-- Home -->

	<div class="home">
		<div class="home_background_container prlx_parent">
			<div class="home_background prlx" style="background-image:url(/static/images/costaverde1920.jpg)"></div>
		</div>
		<div class="home_content">
			<h1>INDEX</h1>
		</div>
	</div>

	<!-- News -->

	<div class="news">
		<div class="container">
			<div class="row">

				<!-- News Column -->

				<div class="col-lg-8">

					<div class="news_posts">
						<!-- News Post -->
						<div class="news_post">
							<div class="news_post_image">
								<img src="/static/images/utecLogo.png">
							</div>
							<div class="news_post_top d-flex flex-column flex-sm-row">
								<div class="news_post_date_container">
									<div class="news_post_date d-flex flex-column align-items-center justify-content-center">
										<div></div>
										<div></div>
									</div>
								</div>
								<div class="news_post_title_container">
									<div class="news_post_title">
										<a>¿Que es Utec-Overflow?</a>
									</div>
									<div class="news_post_meta">
										<span class="news_post_author"><a>Por: Utec-Overflow Team</a></span>
									</div>
								</div>
							</div>
							<div class="news_post_text">
								<p>Utec-Overflow es un foro exclusivo para los alumnos de CS de Utec.
									Este tiene como proposito principal aclarar cualquier duda que exista sobre alguno de los numerosos cursos que ofrece la extensiva malla curricular</p>
							</div>
						</div>

						<!-- News Post -->
						<div class="news_post">
							<div class="news_post_image">
								<img src="/static/images/claseUtec.jpg">
							</div>
							<div class="news_post_top d-flex flex-column flex-sm-row">
								<div class="news_post_date_container">
									<div class="news_post_date d-flex flex-column align-items-center justify-content-center">
										<div></div>
										<div></div>
									</div>
								</div>
								<div class="news_post_title_container">
									<div class="news_post_title">
										<a>¿Como funciona?</a>
									</div>
									<div class="news_post_meta">
										<span class="news_post_author"><a>Por: Utec-Overflow Team</a></span>
									</div>
								</div>
							</div>
							<div class="news_post_text">
								<p>Utec-Overflow sirve como foro para postear preguntas y respuestas sobre cualquier curso de la carrera.
								Al entrar al foro podras interactuar con las demas personas preguntando o respondiendo dudas. ¡Si te da miedo preguntar,
							te arriesgas a no aprender!</p>
							</div>
						</div>

						<!-- News Post -->
						<div class="news_post">
							<div class="news_post_image">
								<img src="/static/images/claseUtec2.jpg">
							</div>
							<div class="news_post_top d-flex flex-column flex-sm-row">
								<div class="news_post_date_container">
									<div class="news_post_date d-flex flex-column align-items-center justify-content-center">
										<div></div>
										<div></div>
									</div>
								</div>
								<div class="news_post_title_container">
									<div class="news_post_title">
										<a>¿Por qué usar Utec-Overflow?</a>
									</div>
									<div class="news_post_meta">
										<span class="news_post_author"><a>Por: Utec-Overflow Team</a></span>
									</div>
								</div>
							</div>
							<div class="news_post_text">
								<p>Es una ayuda extra para que siempre tengas los temas claros y, además es sumamente facil de usar.
								Simplemente registrate y comienza a aclarar cualquiera de tus dudas.</p>
							</div>
						</div>
					</div>

					<!-- Page Nav -->


				</div>

				<!-- Sidebar Column -->

				<div class="col-lg-4">
					<div class="sidebar">



						<!-- Latest Posts -->

						<div class="sidebar_section">
							<div class="sidebar_section_title">
								<h3>Punto de Interés:</h3>
							</div>

							<div class="latest_posts">

								<!-- Latest Post -->
								<div class="latest_post">
									<div class="latest_post_image">
										<img src="/static/images/cuenta.jpeg">
									</div>
									<div class="latest_post_title"><a href="login.html">No tengo una cuenta.</a></div>
									<div class="latest_post_meta">
										<span class="latest_post_author"><a href="login.html">Haga click para registrarse ahora</a></span>

									</div>
								</div>

								<!-- Latest Post -->
								<div class="latest_post">
									<div class="latest_post_image">
										<img src="/static/images/preguntas.png">
									</div>
									<div class="latest_post_title"><a href="courses.html">Tengo preguntas.</a></div>
									<div class="latest_post_meta">
										<span class="latest_post_author"><a href="courses.html">Haga click para elegir el curso</a></span>
									</div>
								</div>

								<!-- Latest Post -->
								<div class="latest_post">
									<div class="latest_post_image">
										<img src="/static/images/duda.jpg">
									</div>
									<div class="latest_post_title"><a href="contact.html">Alguna duda?</a></div>
									<div class="latest_post_meta">
										<span class="latest_post_author"><a href="contact.html">Haga click para contactarnos</a></span>
									</div>
								</div>

							</div>

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="styles/bootstrap4/popper.js"></script>
<script src="styles/bootstrap4/bootstrap.min.js"></script>
<script src="plugins/greensock/TweenMax.min.js"></script>
<script src="plugins/greensock/TimelineMax.min.js"></script>
<script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="plugins/greensock/animation.gsap.min.js"></script>
<script src="plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="plugins/scrollTo/jquery.scrollTo.min.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="js/news_custom.js"></script>

</body>
</html>
