#cicloSelect{
  height: 40px;
  background-color: #d6faff;

}

#imagenesCiclo{
  height: 300px;
}

#courseContainer{
  width: 300%px;
  min-width: 100%px;
  height: 70vh;
  background-color: #c1dcff;
  border-radius: 20px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
